[default]
sso_session = {{ .aws.session }}
sso_account_id = {{ .aws.accountId1 }}
sso_role_name = {{ .aws.role }}
region = {{ .aws.region }}
output = json

[profile playground]
sso_session = {{ .aws.session }}
sso_account_id = {{ .aws.accountId2 }}
sso_role_name = {{ .aws.role }}
region = {{ .aws.region }}
output = json

[profile torai]
sso_session = {{ .aws.session }}
sso_account_id = {{ .aws.accountId3 }}
sso_role_name = {{ .aws.role }}
region = {{ .aws.region }}
output = json

[sso-session jobcloud]
sso_start_url = {{ .aws.startUrl }}
sso_region = {{ .aws.region }}
sso_registration_scopes = sso:account:access
