[data]
email = "aironskin@gmail.com"

[data.aws]
accountID1 = "864261092842" # production
accountID2 = "260677531019" # playground
accountID3 = "579888146138" # torai
session = "jobcloud"
region = "eu-west-1"
role = "AWSAdministratorAccess"
startUrl = "https://jobcloud-sso.awsapps.com/start"

[data.work]
dir = "${HOME}/JobCloud"

[data.zshrc]
dpsCmdID = "{{.ID}}" # workaround due to templating issues
dpsCmdImage = "{{.Image}}" # workaround due to templating issues
dpsCmdStatus = "{{.Status}}" # workaround due to templating issues

[data.secrets]
openAIAPIKey = ""
elasticCloudAPIKey = "" # for torai
