# ~/.zshrc

# Source Prezto
if [[ -s "${ZDOTDIR:-$HOME}/.zprezto/init.zsh" ]] ; then
  source "${ZDOTDIR:-$HOME}/.zprezto/init.zsh"
fi

# CUSTOMIZATION

# FZF ZSH integration & Dracula colors
[[ -f ~/.fzf.zsh ]] && source ~/.fzf.zsh
export FZF_DEFAULT_OPTS='--color=fg:#f8f8f2,hl:#bd93f9 --color=fg+:#f8f8f2,hl+:#bd93f9 --color=info:#ffb86c,prompt:#50fa7b,pointer:#ff79c6 --color=marker:#ff79c6,spinner:#ffb86c,header:#6272a4'

# PATH
export PATH="/home/stefan/.local/bin:/home/stefan/.pulumi/bin:${PATH}"

# HISTORY
export HISTSIZE=100000
export SAVEHIST=${HISTSIZE}

# OPTIONS
setopt clobber
setopt hist_ignore_all_dups
setopt hist_ignore_space

# Default EDITOR
export EDITOR=nvim

# LS_COLORS
export LS_COLORS="$(vivid generate one-dark)"

# less
export LESS="-i -M -R -S -X -z-4"

# bat
BAT_THEME="Dracula"
export BAT_STYLE="numbers,changes"

# man
export MANROFFOPT="-c"
export MANPAGER="sh -c 'col -bx | bat -l man -p'"

# Set TERM to something the system knows
export TERM=xterm-256color
export COLORTERM=truecolor

# ZSH autosuggestions highlight color
export ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE='fg=244'

# don't underline file paths
(( ${+ZSH_HIGHLIGHT_STYLES} )) || typeset -A ZSH_HIGHLIGHT_STYLES
ZSH_HIGHLIGHT_STYLES[path]=none
ZSH_HIGHLIGHT_STYLES[path_prefix]=none

# Ansible Vault
export ANSIBLE_VAULT_IDENTITY_LIST=$(grep 'vault_identity_list' "{{ .work.dir }}/git/ansible/aws/ansible.cfg" | awk -F' ' '{print $3}')

# OpenAI API key
export OPENAI_API_KEY="{{ .secrets.openAIAPIKey }}"

# Elastic Cloud API key
export EC_API_KEY="{{ .secrets.elasticCloudAPIKey }}"

# ALIASES

# General aliases
alias ls='eza -lg'
alias lt='eza -lT'
alias la='eza -lga'
alias l='eza -1'
alias vi='nvim'
alias vim='nvim'
alias vimdiff='nvim -d'
alias more='less'
alias mkdir='mkdir -p -v'
alias cp='cp -v'
alias mv='mv -v'
alias rm='rm -v'
alias fd='fd -H --strip-cwd-prefix'
alias grep='rg -Ni'
alias g='rg -Ni'
alias ps='ps faux | rg -v ps'
alias psg='ps | rg -v rg | g'
alias ..='cd ..'
alias ...='cd ../../'
alias ....='cd ../../../'
alias .....='cd ../../../../'
alias zsh-history-reload="fc -R ${HISTFILE:-${ZDOTDIR:-$HOME}/.zsh_history}"
alias du='du -sh'
alias df='df -PTh'
alias cat='bat -P --tabs=2'
alias watch='viddy'
alias ping='gping'
alias wget='wget -nv'
alias mysql='mysql -A -b'
alias disks='sudo fdisk -l'
alias gl='git log -10 --abbrev=16'
alias dps='docker ps --format "table {{ .zshrc.dpsCmdID }}\t{{ .zshrc.dpsCmdImage }}\t{{ .zshrc.dpsCmdStatus }}"'
alias gws='rg -i " $|\t"' # grep tabs & spaces at end of lines
alias gnnl='grep_no_new_line' # grep no new line at end of file
alias gnbs='rg -e "[\xC2\xA0]" *' # grep non-breaking spaces
alias gds="ag '(?<!\s)  ' | rg -Niv 'vars_templates|#|mount_devices.sh.j2|chrony.conf|output.sh'" # grep for double spaces from the back
alias ac='gws ; gnnl ; gds'
alias ansible-playbook-internal='ansible-playbook --extra-vars "env=internal"'
alias ansible-playbook-prod='ansible-playbook --extra-vars "env=prod"'
alias ansible-playbook-qa='ansible-playbook --extra-vars "env=qa"'
alias pup='verify_torai_session && pulumi preview'
alias pur='verify_torai_session && pulumi refresh -y'
alias puu='verify_torai_session && pulumi up -yf'
alias puc='verify_torai_session && pulumi config'

# Go aliases
alias gob='go build -ldflags="-s -w"'

# Aura alias
alias aura='sudo aura'

# Pacman aliases
alias pacman='sudo pacman'
alias pac-update='pacman -Sy'
alias pac-upgrade='pacman -Su'
alias pac-install='pacman -S'
alias pac-remove='pacman -Rsn'
#alias pac-search='pacman -Ss' # see function below
alias pac-localsearch='pacman -Qs'
alias pac-info='pacman -Si'
alias pac-orphans='pacman -Qdt'
alias pac-clean='pacman -Scc'
alias pac-aurlist='pacman -Qm'

# SSH shortcuts
alias arvin='ssh -l stefan 192.168.1.50'
alias space='ssh -l admin 192.168.1.1'

# Colorized pacman search output
alias pac-search="colorsearch"
colorsearch () {

  echo -e "$(pacman -Ss ${@} | sed \

  -e 's#core/.*#\\033[0;38;5;242m&\\033[0;37m#g' \
  -e 's#extra/.*#\\033[0;38;5;204m&\\033[0;37m#g' \
  -e 's#community/.*#\\033[0;38;5;229m&\\033[0;37m#g' \
  -e 's#^.*/.* [0-9].*#\\033[0;38;5;37m&\\033[0;37m#g' )"

}

# Source bash-helper-functions components
source {{ .work.dir }}/git/bash-helpers-library/colors.sh
source {{ .work.dir }}/git/bash-helpers-library/aws_functions.sh
source {{ .work.dir }}/git/bash-helpers-library/aws_environment.sh

# source .zshrc & update history
reload () {

  source ~/.zshrc
  zsh-history-reload

}

# less with pygments & bat
less () {

  if (( ${#} == 0 )) ; then
    command bat
  else
    pygmentize -g -O style=nord-darker "${@}" 2> /dev/null | command bat
  fi

}

# jobcloud init function
jc_init () {

  echo

  # set profile
  if [[ -n "${1}" ]] ; then
    profile="${1}"
  else
    profile="default"
  fi
  echo -e "${ink_gray}Selected AWS profile: ${ink_blue}${profile}${ink_clear}\\n"

  # aws sso
  echo -n "${ink_gray}AWS SSO login: "
  if aws sso login --profile "${profile}" > /dev/null ; then
    echo -n "${ink_green}SUCCEEDED${ink_clear}"
  else
    echo -n "${ink_red}FAILED${ink_clear}"
  fi ; echo

  # aws sso session envvars
  awsAccountId="$(aws configure get sso_account_id --profile ${profile})"
  awsRegion="$(aws configure get region --profile ${profile})"
  awsRole="$(aws configure get sso_role_name --profile ${profile})"

  session=$(aws sso get-role-credentials \
    --account-id "${awsAccountId}" \
    --role-name "${awsRole}" \
    --access-token "$(cat ${HOME}/.aws/sso/cache/*.json | jq -r '.accessToken | select( . != null )' | head -1)" \
    --region "${awsRegion}")

  AWS_ACCESS_KEY_ID=$(jq -r '.roleCredentials.accessKeyId' <<< "${session}")
  AWS_SECRET_ACCESS_KEY=$(jq -r '.roleCredentials.secretAccessKey' <<< "${session}")
  AWS_SESSION_TOKEN=$(jq -r '.roleCredentials.sessionToken' <<< "${session}")

  touch ~/.aws/envvars
  echo -n > ~/.aws/envvars
  echo "export AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}" >> ~/.aws/envvars
  echo "export AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}" >> ~/.aws/envvars
  echo "export AWS_SESSION_TOKEN=${AWS_SESSION_TOKEN}" >> ~/.aws/envvars

  source ~/.aws/envvars

  # aws ecr
  echo -n "${ink_gray}AWS ECR login: "
  if ecr_login ; then
    echo -n "${ink_green}SUCCEEDED${ink_clear}"
  else
    echo -n "${ink_red}FAILED${ink_clear}"
  fi ; echo

  # AWS console browser session
  xdg-open '{{ .aws.startUrl }}#/' 2> /dev/null

  echo

}
source ~/.aws/envvars

# switch session credentials to target account
aws-session () {

  accountName="${1}"
  binDir="{{ .work.dir }}/git/cloud-tools/aws-session/bin"
  binName="aws-session-linux-amd64"

  case "${accountName}" in
    jobcloud)
      accountId="{{ .aws.accountID1 }}" ;;
    playground)
      accountId="{{ .aws.accountID2 }}" ;;
    torai)
      accountId="{{ .aws.accountID3 }}" ;;
  esac

  if [[ -z "${accountId}" ]] ; then
    echo -e "\\nInvalid account\\n" ; exit 1
  fi

  "${binDir}"/"${binName}" \
    -a "${accountId}" \
    -n {{ .aws.role }} \
    -s {{ .aws.startUrl }} \
    -r {{ .aws.region }}

  source "${HOME}"/.aws/envvars

}

# make sure the current shell uses session credentials from the Torai account
verify_torai_session () {

  if [[ "$(aws sts get-caller-identity | jq -r '.Account')" != '{{ .aws.accountID3 }}' ]] ; then
    echo -e "\\n  No Torai session in this shell ...\\n"
    return 1
  fi

}

# global git actions function
gga () {

  usage () {
    echo -e "
gga [action] [options]

  actions (exactly one required):
    -s (status)
    -b (branch)
    -d (diff)
    -f (fetch & pull)

  options (optional):
    -q (quick mode: less verbose, uses parallel)
    -p dirName (run commands on a non-default directory)
    "
  }

  while getopts "sbdfqp:" opt ; do
    case "${opt}" in
      s) local action="status" ;;
      b) local action="branch" ;;
      d) local action="diff" ;;
      f) local action="fetch" ;;
      q) local parallel="true" ;;
      p) local gitPath="${OPTARG}" ;;
      *) usage ; return 1 ;;
    esac
  done

  rootDir="{{ .work.dir }}"
  if [[ -z "${gitPath}" ]] ; then
    gitDir="git"
  else
    gitDir="${gitPath}"
  fi

  echo

  # sequential processing
  if [[ -z "${parallel}" ]] ; then
    if [[ "${action}" == 'fetch' ]] ; then
      (
        cd "${rootDir}/${gitDir}"
        for dir in * ; do
          echo "${ink_blue}${dir}:${ink_clear}"
          (
            cd "${dir}"
            git fetch -p origin && git pull
          )
          echo
        done
      )
    else
      (
        cd "${rootDir}/${gitDir}"
        for dir in * ; do
          echo "${ink_blue}${dir}:${ink_clear}"
          (
            cd "${dir}"
            git "${action}"
          )
          echo
        done
      )
    fi
  fi

  # parallel processing
  if [[ -n "${parallel}" ]] ; then
    case "${action}" in
      status)
        parallel "( cd ${rootDir}/${gitDir}/{} ; git status )" ::: $(ls -1 "${rootDir}/${gitDir}") ;;
      branch)
        parallel "( cd ${rootDir}/${gitDir}/{} ; git branch )" ::: $(ls -1 "${rootDir}/${gitDir}") ;;
      diff)
        parallel "( cd ${rootDir}/${gitDir}/{} ; git diff )" ::: $(ls -1 "${rootDir}/${gitDir}") ;;
      fetch)
        parallel "( cd ${rootDir}/${gitDir}/{} ; git fetch -p origin && git pull )" ::: $(ls -1 "${rootDir}/${gitDir}") ;;
    esac
  fi

}

# check repository for branches without pull requests
check_lonely_git_branches () {

  repoDir="{{ .work.dir }}/git"
  repoList=$(ls -1d "${repoDir}"/*)

  echo

  while IFS= read -r repoPath ; do
    repo=$(basename "${repoPath}")
    echo -e "${ink_blue}${repo}${ink_clear}"
    "${repoDir}"/ce-scripts/scripts/github_lonely_branches.sh "${repo}"
  done <<< "${repoList}"

}

# list files that don't contain an empty line at end of file
grep_no_new_line () {

  for file in $( fd -tf ; fd -tx ) ; do
    (
      if ( diff /dev/null "${file}" | tail -1 | rg -Niq '^\\ No newline at end of file' ) ; then
        echo "${file}"
      fi
    )
  done

}

# ansible diff (compare stage with prod)
ansible_diff () {

  file="${1}"

  vimdiff "${file}" ../prod/"${file}"

}

# ansible vault diff (compare branch with main)
ansible_vault_diff () {

  # exit if not in ansible/aws directory
  if [[ "$(pwd | rev | cut -d'/' -f1-2 | rev)" != "ansible/aws" ]] ; then
    echo -e "\\nYou need to be in the ansible/aws directory for the function to work properly\\n"
    return 1
  fi

  # fetch list of files that have been changed compared to main
  modifiedFiles=$(git diff --name-status main | awk 'match($1, /A|M/){print $2}' | grep 'aws/' | sed 's/aws\///' | sort)

  # filter Ansible Vault files
  vaultFiles=$(
    while IFS= read -r mFile ; do
      if set -o pipefail ; head -1 "${mFile}" | grep -q 'ANSIBLE_VAULT' ; then
        echo "${mFile}"
      fi
    done <<< "${modifiedFiles}"
  )

  # exit early if no Anisble Vault files have been changed
  if [[ -z "${vaultFiles}" ]] ; then return 0 ; fi

  echo

  # diff each Ansible Vault file
  while IFS= read -r vFile ; do
    echo "${ink_blue}${vFile}:${ink_clear}"
    diff \
      --old-group-format=$'\e[0;31m%<\e[0m' \
      --new-group-format=$'\e[0;32m%>\e[0m' \
      --unchanged-group-format='' \
      <(ansible-vault view <(git show main:"aws/${vFile}")) \
      <(ansible-vault view <(git show HEAD:"aws/${vFile}"))
      echo
  done <<< "${vaultFiles}"

}

# helper function to visually verify the WAF rules priority order
ansible_verify_waf_rules_priority () {

  # exit if not in ansible/aws directory
  if [[ "$(pwd | rev | cut -d'/' -f1-2 | rev)" != "ansible/aws" ]] ; then
    echo -e "\\nYou need to be in the ansible/aws directory for the function to work properly\\n"
    return 1
  fi

  filesState="${1}" # committed or uncommitted

  if [[ "${filesState}" == 'uncommitted' ]] ; then
    files=$(git diff --name-only | grep '/waf_rules/.*\.json$' | sed 's/aws\///')
  elif [[ "${filesState}" == 'committed' ]] ; then
    files=$(git diff --name-only main HEAD | grep '/waf_rules/.*\.json$' | sed 's/aws\///')
  else
    echo -e "\\nSupply either 'committed' or 'uncommitted' to the function ..."
    return 1
  fi

  for wafRulesJson in ${files} ; do
    echo -e "\\n${wafRulesJson}:\\n"
    grep '^      "Priority"' "${wafRulesJson}"
  done ; echo

}

# get a fresh Docker environment
cleanup_docker_environment () {

  docker stop $(docker ps -aq) 2> /dev/null && docker rm $(docker ps -aq) 2> /dev/null
  docker system prune -af
  docker buildx inspect --bootstrap

}

# delete all git branches except the default one
cleanup_git_branches () {

  # abort if there are uncommitted changes
  if git status --porcelain | grep -q . ; then
    echo -e "\\nUncommitted changes detected. Aborting ...\\n"
    return 1
  fi

  # determine default branch
  defaultBranch="$(git branch -r | grep -Po 'HEAD -> \K.*$' | sed 's/origin\///')"

  # checkout default branch
  git checkout "${defaultBranch}"

  # delete all branches except default one
  for branch in $(
    git branch \
    | grep -v "${defaultBranch}")
  do
    git branch -D "${branch}"
  done

  # show branches
  git branch

}

# fetch root password for given RDS cluster
fetch_rds_root_password () {

  rdsCluster="${1}"

  secretName=$(\
    aws secretsmanager list-secrets \
    --filters Key=tag-key,Values=Name Key=tag-value,Values="${rdsCluster}" \
    | jq -r '.SecretList[].Name')
  aws secretsmanager get-secret-value \
    --secret-id "${secretName}" \
    | jq -r '.SecretString | fromjson | .password'

}

# remove last command from history
fail () {

  local historyFile="${HOME}/.zsh_history"

  # turn off zsh history temporarily
  fc -A ; fc -p "${historyFile}" ; unset HISTFILE

  # test for gawk availability & version
  if ! (command -v gawk > /dev/null) ; then
    echo -e "\\n  gawk is required for this function to work\\n"
    return 1
  fi
  if [[ "$(gawk --version | gawk 'NR==1 { gsub(/,$/, "", $3); print $3 }')" < '4.1.0' ]] ; then
    echo -e "\\n  gawk version 4.1.0 or higher is required for this function to work\\n"
    return 1
  fi

  # fetch the last command (may be multiline) and remove backslashes before newlines
  local lastCommand=$(tac "${historyFile}" | gawk '/^: [0-9]+:0;/{if (cmd) exit; cmd=$0; next} {cmd=$0"\n"cmd} END{gsub(/\\\n/, "\n", cmd); print cmd}')

  # remove all occurrences of the last command from history
  gawk -i inplace -v lastCommand="$lastCommand" '
  BEGIN { RS=": [0-9]+:0;"; ORS=""; first=1 }
  {
    # remove the leading newline from the record separator
    sub(/^\n/, "", $0);
    if ($0 != lastCommand) {
      if (!first) {
        printf("%s", RS)
      }
      printf("%s\n", $0);
      first=0;
    }
  }' "${historyFile}"

  # turn zsh history back on
  export HISTFILE="${historyFile}" ; fc -P

}

# 256 colors
256_colors () {

  local o= i= x=$(tput op) cols=$(tput cols) y= oo= yy=
  y=$(printf %$(($cols-6))s)
  yy=${y// /=}

  for i in {0..15} ; do
    o=00${i}
    oo=$(echo -en "setaf ${i}\nsetab ${i}\n"|tput -S)
    echo -e "${o:${#o}-3:3} ${oo}${yy}${x}"
  done

}

# Auto completion
autoload bashcompinit && bashcompinit
autoload -Uz compinit && compinit

# Completion for AWS CLI
complete -C /usr/bin/aws_completer aws
